## HW 3 - Statistical Inference

## Shifa Shah

### ss08336@st.habib.edu.pk

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [4]:
df = pd.read_csv('student-scores.csv')

In [5]:
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

# Hypothesis Testing

#### Q1
If math_score of males is greater than females <br>
H0: the math_score of males is not greater than females. <br>
Ha: the math_score of males is greater than females. <br>

In [8]:
male_scores = df[df['gender']=='male']['math_score']
female_scores = df[df['gender']=='female']['math_score']

In [9]:
male_scores

0       73
4       84
6       99
7       95
8       94
        ..
1992    79
1993    92
1994    76
1995    83
1996    89
Name: math_score, Length: 998, dtype: int64

In [10]:
female_scores

1       90
2       81
3       71
5       93
9       98
        ..
1987    97
1991    88
1997    97
1998    51
1999    82
Name: math_score, Length: 1002, dtype: int64

In [11]:
stats.ttest_ind(male_scores, female_scores, alternative='greater')

TtestResult(statistic=2.2371559026936256, pvalue=0.012693020299630226, df=1998.0)

### Conclusion:
P-Value < 0.05 => We reject Null hypothesis H0 <br> 
so Ha is true/valid i.e, the math_score of males is greater than females. <br>

#### Q2 
if math_score of Non Doctors is greater than Doctors <br>
H0: math_score of Non Doctors is not greater than Doctors. <br>
Ha: math_score of Non Doctors is greater than Doctors. <br>

In [13]:
doctors = df[df['career_aspiration']=='Doctor']['math_score']
# doctors

In [15]:
non_doctors = df[df['career_aspiration']!='Doctor']['math_score']
# non_doctors

In [21]:
stats.ttest_ind(non_doctors, doctors, alternative="greater")

TtestResult(statistic=-7.389083205876682, pvalue=0.999999999999892, df=1998.0)

### Conclusion:
P-Value < 0.05 => We reject Null hypothesis H0 <br> 
so Ha is true/valid i.e, math_score of Non Doctors is greater than Doctors.

#### Q3
Weekly_self_study_hours of males are greater than females <br>
H0: weekly_self_study_hours of males are not greater than females <br>
Ha: weekly_self_study_hours of males are greater than females <br>

In [29]:
males_hours = df[df['gender']=='male']['weekly_self_study_hours']
males_hours

0       27
4       10
6       23
7       34
8       25
        ..
1992    12
1993    46
1994    19
1995    30
1996    20
Name: weekly_self_study_hours, Length: 998, dtype: int64

In [31]:
female_hours = df[df['gender']=='female']['weekly_self_study_hours']
female_hours

1       47
2       13
3        3
5       26
9       18
        ..
1987     8
1991    27
1997    14
1998     5
1999    27
Name: weekly_self_study_hours, Length: 1002, dtype: int64

In [36]:
stats.ttest_ind(males_hours, female_hours, alternative='greater')

TtestResult(statistic=3.4567831650474443, pvalue=0.00027905018418441824, df=1998.0)

### Conclusion:
P-Value < 0.05 => We reject Null hypothesis H0 <br> 
so Ha is true/valid i.e, weekly_self_study_hours of males are greater than females.

#### Q4
Math_score of no part_time_job male students are greater than part_time_job male
students <br>
H0: math_score of no part_time_job male students are not  greater than part_time_job male
students <br>
Ha: math_score of no part_time_job male students are greater than part_time_job male
students <br>.

In [46]:
no_part_time = df[(df['gender']=='male') & (df['part_time_job']==False)]['math_score']
no_part_time

0       73
4       84
6       99
8       94
11      80
        ..
1992    79
1993    92
1994    76
1995    83
1996    89
Name: math_score, Length: 849, dtype: int64

In [48]:
part_time = df[(df['gender']=='male') & (df['part_time_job']==True)]['math_score']
part_time

7        95
20      100
41       65
44       54
45       88
       ...
1925     62
1940     99
1958     88
1966     82
1984     79
Name: math_score, Length: 149, dtype: int64

In [50]:
stats.ttest_ind(no_part_time, part_time, alternative='greater')

TtestResult(statistic=5.8026672393780085, pvalue=4.3820239750124745e-09, df=996.0)

### Conclusion:
P-Value < 0.05 => We reject Null hypothesis H0 <br> 
so Ha is true/valid i.e, math_score of no part_time_job male students are greater than part_time_job male
students.

#### Q5
The average of history_score is less than geography_score <br>
H0: the average of history_score is not less than geography_score <br>
Ha: the average of history_score is less than geography_score <br>

In [54]:
stats.ttest_ind(df['history_score'], df['geography_score'], alternative='less')

TtestResult(statistic=-1.4412586066465385, pvalue=0.07479497633658547, df=3998.0)

### Conclusion:
P-Value > 0.05 => We cannot reject Null hypothesis H0 <br> 
so H0 is true/valid i.e, the average of history_score is less than geography_score.

#### Q6:
The average of math_score is greater than biology_score <br>
H0: the average of math_score is not greater than biology_score <br>
Ha: the average of math_score is greater than biology_score <br>

In [69]:
stats.ttest_ind(df['math_score'], df['biology_score'], alternative='greater')

TtestResult(statistic=9.082620143235266, pvalue=8.146293509285797e-20, df=3998.0)

### Conclusion:
P-Value < 0.05 => We reject Null hypothesis H0 <br> 
so Ha is true/valid i.e, the average of math_score is greater than biology_score.

#### Q7
Weekly_self_study_hours of extracurricular_activities is less than no
extracurricular_activities <br>
H0: weekly_self_study_hours of extracurricular_activitiesis not  less than no
extracurricular_activities. <br>
Ha: weekly_self_study_hours of extracurricular_activities is less than no
extracurricular_activities. <br>.

In [80]:
extra_curricular = df[df['extracurricular_activities']==True]['weekly_self_study_hours']
extra_curricular

2       13
6       23
7       34
9       18
16      30
        ..
1973    26
1974    11
1977     5
1992    12
1998     5
Name: weekly_self_study_hours, Length: 408, dtype: int64

In [82]:
no_extra_curricular = df[df['extracurricular_activities']==False]['weekly_self_study_hours']
no_extra_curricular

0       27
1       47
3        3
4       10
5       26
        ..
1994    19
1995    30
1996    20
1997    14
1999    27
Name: weekly_self_study_hours, Length: 1592, dtype: int64

In [84]:
stats.ttest_ind(extra_curricular, no_extra_curricular, alternative='less')

TtestResult(statistic=-2.3506159912870577, pvalue=0.009419553161020007, df=1998.0)

### Conclusion:
P-Value < 0.05 => We reject Null hypothesis H0 <br> 
so Ha is true/valid i.e, weekly_self_study_hours of extracurricular_activities is less than no
extracurricular_activities.

#### Q8
Absence_days of females are less than males <br>
H0: absence_days of females are not less than males <br>
Ha: absence_days of females are less than males

In [89]:
females = df[df['gender']=='female']['absence_days']
females

1        2
2        9
3        5
5        2
9        3
        ..
1987     6
1991     4
1997     5
1998    10
1999     5
Name: absence_days, Length: 1002, dtype: int64

In [91]:
males = df[df['gender']=='male']['absence_days']
males

0       3
4       5
6       3
7       2
8       6
       ..
1992    2
1993    3
1994    1
1995    2
1996    2
Name: absence_days, Length: 998, dtype: int64

In [95]:
stats.ttest_ind(females, males, alternative='less')

TtestResult(statistic=1.3128102331149203, pvalue=0.9053011661354035, df=1998.0)

### Conclusion:
P-Value > 0.05 => We cannot reject Null hypothesis H0 <br> 
so H0 is true/valid i.e, absence_days of females are not less than males.

## Q9
Is there any Association between gender and career_aspiration. <br>
H0: No Association between gender and career aspirations <br>
Ha Association between gender and career aspirationr

In [99]:
chisqt = pd.crosstab(df['career_aspiration'],df['gender'], margins=True)
chisqt

gender                 female  male   All
career_aspiration
Accountant                 64    62   126
Artist                     42    25    67
Banker                    103    66   169
Business Owner            164   145   309
Construction Engineer       0    68    68
Designer                   32    24    56
Doctor                     53    66   119
Game Developer             31    32    63
Government Officer         31    30    61
Lawyer                     66    72   138
Real Estate Developer      45    38    83
Scientist                  19    20    39
Software Engineer         141   174   315
Stock Investor             25    48    73
Teacher                    59     0    59
Unknown                   109   114   223
Writer                     18    14    32
All                      1002   998  2000

In [101]:
chi2, p, dof, ex = stats.chi2_contingency(chisqt)
p

1.9087221746002932e-17

### Conclusion:
P-Value < 0.05 => We reject Null hypothesis H0 <br> 
so Ha is true/valid i.e, There is association between Career Aspirations and Gender.

#### Q10
Is there any Association between gender and part_time_job. <br>
H0: No association betwwen Part time jobs and Gender. <br>
Ha: Association betwwen Part time jobs and Gender.

In [110]:
chisqt = pd.crosstab(df['part_time_job'],df['gender'], margins=True)
chisqt

gender         female  male   All
part_time_job
False             835   849  1684
True              167   149   316
All              1002   998  2000

In [112]:
chi2, p, dof, ex = stats.chi2_contingency(chisqt)
p

0.8888874344046543

### Conclusion:
P-Value > 0.05 => We can not reject Null hypothesis H0 <br> 
so H0 is true/valid i.e, No association betwwen Part time jobs and Gender.